* {
    font-family: 'Nunito Sans', sans-serif;
  }
  
  :root {
    --shadowDark: #D9DDE6;
    --background: #363636;
    --shadowLight: #EFF5FE;
  }
  
  .body-black {
    background: #000000;
  }

  .body-white {
    background: #ffffff;
  }
  
  .hero-body {

    justify-content: center;
  }
  
  .login {
    background: var(--background);
    border-radius: 25px;
    padding: 1.5rem;
    box-shadow: 8px 8px 15px var(--shadowDark), -8px -8px 15px var(--shadowLight);
  }
  
  input {
    background: var(--shadowDark) !important;
  }
  
  a {
    font-weight: 600;
  }

  .login_img {
    width: 60%;
  }

  .important-white {
    color: #ffffff !important;
  }