{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link type="text/css" rel="stylesheet" href="{% static 'inopolis/css/bulma-switch.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'inopolis/css/bulma.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'inopolis/css/index_style.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'inopolis/css/film_page_style.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'inopolis/css/form_style.css' %}">

<!--    <link rel="stylesheet" href="./css/bulma.min.css">-->
<!--    <link rel="stylesheet" href="./css/index_style.css">-->
<!--    <link rel="stylesheet" href="./css/film_page_style.css">-->
</head>
<body>

{% block "content" %}

{% endblock %}

{% include "inopolis/components/footer.html" %}

</body>
</html>