{% load static %}
<nav class="navbar is-dark" role="navigation" aria-label="main navigation" >
    <div class="navbar-brand">
      <a class="navbar-item" href="./index.html">
        <img src="{% static 'inopolis/img/logo.png' %}" >
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu is-dark">
      <div class="navbar-start">
        <a class="navbar-item" href="./index.html">
          Explore films
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">
            Categories
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item" href="#">
              Action
            </a>
            <a class="navbar-item" href="#">
              Drama
            </a>
            <a class="navbar-item" href="#">
              Comedy
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="#">
              Report an issue
            </a>
          </div>
        </div>
        <a class="navbar-item" href="./film_page.html">
          Random movie
        </a>
        <div class="navbar-item">
          <div class="field">
            <input  type="checkbox" name="switchSmall" class="switch " id="ColorThemeSwitch">
            <label for="ColorThemeSwitch">
              <img src="{% static 'inopolis/img/svg/sun-svgrepo-com.svg' %}"  alt="SUN"  class="" id="toggle-sun-id"  >
              <img src="{% static 'inopolis/img/svg/moon-svgrepo-com.svg' %}" alt="MOON" class="is-hidden"  id="toggle-moon-id" >
            </label>
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            {% if user.is_authenticated %}
                {% if user.profile.id %}
                <a class="button is-light" href="{% url 'user_profile' user.id %}">Profile</a>
                {% else %}
                <a class="button is-light" href="{% url 'create_user_profile'  %}">CreateProfile</a>
                {% endif %}
                <a class="button is-light" href="{% url 'logout' %}">Exit</a>
            {% else %}
                <a class="button is-light" href="{% url 'register' %}">
                    <strong>Sign up</strong>
                </a>
                <a class="button is-light" href="{% url 'login' %}">Log in</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </nav>

  <script src="{% static 'inopolis/js/navbarMenu.js' %}"></script>
  <script src="{% static 'inopolis/js/ColorThemeSwitch.js' %}"></script>