{% extends "inopolis/base.html" %}
{% load static %}



{% block "content" %}

{% include "inopolis/components/navbar.html" %}

<div class="container pt-6 all-text-white">

    {% if request.user.is_authenticated %}
    <div class="card-body">
        <form method="POST"  enctype="multipart/form-data">
            {% csrf_token %}
<!--            {{form.as_p }}-->
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <input class="button" type="submit" value="Update">
            <br>
            <a href="{% url 'password_change' %}">Хотите изменить пароль?</a>
        </form>
    </div>
    {% endif %}
{% endblock %}


