{% extends "inopolis/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block "content" %}
    <section class="hero is-fullheight has-text-centered">
      <div class="hero-body">
        <div class="login">
            <figure >
                <img src="{% static 'inopolis/img/logo.png' %}" class="login_img" alt="" >
            </figure>
            <br>

            <form method="POST">
                {% csrf_token %}
                {{form|crispy}}


           <br />


            <button class="button is-block is-fullwidth is-light is-medium is-rounded q " type="submit">login</button>

          </form>
          <br>
          <nav class="level">
            <div class="level-item has-text-centered">
              <div>
                <a href="#" class="is-link has-text-white">Forgot Password?</a>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <a href="{% url 'register' %}" class="is-link has-text-white">Create an Account</a>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </section>
    {% endblock %}
