{% extends "inopolis/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block "content" %}
<section class="hero is-fullheight has-text-centered">
  <div class="hero-body">
    <div class="login">
        <figure >
           <img src="{% static 'inopolis/img/logo.png' %}" class="login_img" alt="" >
        </figure>
        <br>
        <form method="POST">

            {% csrf_token %}
            {{form|crispy}}


<!--    <div class="field">-->
<!--      <div class="control has-text-white">-->
<!--        &lt;!&ndash; <label class="checkbox"> &ndash;&gt;-->
<!--          <input type="checkbox">-->
<!--          I agree to the <a href="#" class="has-text-light">terms and conditions</a>, <a href="#" class="has-text-light">Data policy</a> and <a href="#" class="has-text-light">Cookies policy</a>.-->
<!--        &lt;!&ndash; </label> &ndash;&gt;-->
<!--      </div>-->
<!--    </div>-->

           <br />
        <button class="button is-block is-fullwidth is-light is-medium is-rounded q " type="submit">Sign up now!</button>
      </form>
      <br>

    </div>
  </div>
</section>
    {% endblock %}


























